@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    // using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <ul class="icons">
            <li> @Html.ActionLink("Вітаємо  " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li> @Html.ActionLink("Вихід", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "logoutForm" })</li>

           @*// <li><a href="javascript:document.getElementById('logoutForm').submit()">lll</a></li>*@
        </ul>
    }
}
else
{
    <ul class="icons">

        <li><a href="/Account/_ExternalLoginsListPartial"  class="icon fa-facebook"><span class="label">Facebook</span></a></li>

        <li><button>@Html.ActionLink("Власний кабінет", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button></li>

        <li>@Html.ActionLink("Новий користувач", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
    </ul>
}
